---
import MyChart from '@/components/GrafficSucursales';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Estadisticas Digiturno">
    <div class="flex flex-col p-5">
        <h1 class="text-white text-2xl">Graficos Digiturno</h1>
    </div>
</Layout>

<style>
</style>
