---
import Graffic from '@/components/Graffics';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Admin Digiturno">
    <div class="flex flex-col p-5">
        <h1 class="text-white text-2xl">Administrable Digiturno, Bienvenido!</h1>
        <Graffic
            client:load
        />
    </div>
</Layout>

<style>
</style>
