---
import Graffic from '@/components/GrafficSucursales';
import GrafficTypes from '@/components/GrafficTypes'
import AllTime from '@/components/GrafficTime'
import Layout from '../layouts/Layout.astro';

---

<Layout title="Admin Digiturno">
    <div class="flex flex-col p-5">
        <h1 class="text-white text-2xl">Administrable Digiturno, Bienvenido!</h1>
        <div class="flex flex-wrap gap-5 m-6">
            <Graffic client:load />
            <GrafficTypes client:load />
            <AllTime client:load />
        </div>
    </div>
</Layout>

<style>
</style>
