---
import Layout from '../layouts/Layout.astro';
import { GridExample } from '@/components/tables/types'
---

<Layout title="Tabla de Datos">
    <div class="w-full h-full flex flex-col p-5 justify-center items-center">
        <h1 class="text-white text-3xl border-b-[3px] p-5">Tablas de Datos Digiturno</h1>
        <div class="h-full w-full flex flex-col justify-center items-center">
            <GridExample client:load/>
        </div>
    </div>
</Layout>

<style>
</style>
