---
import SideMenuItem from "./SideMenuItem.astro";
import HomeIcon from "@/icons/Home.astro"
import Statitics from "@/icons/Statistics.astro"
import Graffics from "@/icons/Graffics.astro"
import Turns from "@/icons/Turns.astro"
import Close from '@/icons/Close.astro'
import Download from "@/icons/Download.astro"

---
<nav class="flex flex-col flex-1">
    <div class="bg-zinc-800 px-4">
        <SideMenuItem href="/">
            <HomeIcon />
             Inicio
          </SideMenuItem>

          <SideMenuItem href="/tables">
            <Statitics />
             Tablas
          </SideMenuItem>

          <SideMenuItem href="/graffics">
            <Graffics />
             Estadisticas Sucursales
          </SideMenuItem>

          <SideMenuItem href="/asesores">
            <Turns />
            Estadisticas Asesores
          </SideMenuItem>

          <SideMenuItem href="/datos.xlsx">
            <Download />
            Descargar Datos
          </SideMenuItem>

          <SideMenuItem href="#">
            <Close />
            Cerrar Sesion
          </SideMenuItem>

    </div>
</nav>