---
interface Props {
  href?: string
}

const { href } = Astro.props
---

<li class="list-none hover:scale-105 py-1">
  <a
    class="flex gap-2 text-zinc-400 hover:text-zinc-100 items-center py-3 px-5 my-5 font-medium transition duration-300"
    href={href}
  >
    <slot />
  </a>
</li>