---
interface Props {
  href?: string,
  id?: string,
}

const { href, id } = Astro.props
---

<li id={id} class="list-none hover:scale-105 p-1 my-12 mx-4 text-center">
  <a
     class="flex gap-3 text-zinc-400 hover:text-zinc-100 items-center justify-center font-medium transition duration-300"
     href={href}
  >
     <slot />
  </a>
 </li>
 <script src="./close.js"/>

  
 